<h1>Public::Homes#top</h1>
<%= link_to "ログアウト",destroy_customer_session_path,method: :delete,class:"btn btn-success text-light",style:"width:80%;"%>
<% if customer_signed_in? %>
<h2>1</h2>
<% else %>
<h2>3</h2>
<% end %>